<!DOCTYPE html>
<html>
    <head>
        <title>fima</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>

        <div class="dialog-container">
            <div class="dialog">
                <div class="dialog-title">Add new transaction</div>
                <div class="dialog-body">
                    <input type="text" id="transaction" title="transaction"/>
                </div>
                <button id="addTransaction" class="button">Add</button>
            </div>
        </div>

        {{#transactions}}
            <b>{{label}}</b>
        {{/transactions}}

        <script src="/assets/js/transactions.js" async></script>
    </body>
</html>
